.App {
  /* width: 100vw;
  height: 100vh; */
  background: #fff;
  color: #212121;
  font-family: "poppins", sans-serif;
  display: grid;
  place-items: center;
}
body {
  margin: 0%;
  padding: 0%;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.nav-header{
  /* background-color: #e95815; */
  background-color: #0177e6;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #f8f8f8;
}

.joinChatContainer {
  margin-top: 30px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: rgb(1, 13, 14);

}

.joinChatContainer h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #f8f8f8;
}

.joinChatContainer h1 span{
  color: rgb(228, 194, 4);
}
.joinChatContainer img{
  width: 120px;
margin: auto;

}
.joinChatContainer input {
  width: 250px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
}

.joinChatContainer button {
  width: 120px;
  height: 40px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  /* background: #158ae9; */
  background-color:  rgb(199 40 40);;
  color: #fff;
  cursor: pointer;
 margin: auto;
}

.joinChatContainer button:hover {
    background: #158ae9;
}